:root {
  --tempoQuedaAreia: 5s;
  --alturaDaQueda: 100vh;
  --larguraQuedaAreia: 10px;
}

body {
  background-image: url('ampulhetareal.jpg');
}

.body {
  background: #ddd; /*Fundo no tom de cinza claro.*/
  background-image: url('areiacai.png'); /*Chamada das imagens de confetes.*/
  background-repeat: repeat-y; /*Define que a imagem irá repetir no eixo y, ou seja na vertical.*/
  height: auto; /*Define o tamanho da altura usada em auto.*/
  left: 0; /*Define a posição horizontal da página começando do primeiro pixel.*/
  position: absolute; /*Define a orientação da página, ficando fixa.*/
  top: 0; /*Define o início da página na parte superior,*/
  width: 100%; /*Define a largura da página para ser aproveitada toda.*/
  /*Aqui é definida a animação para rodar em 4 segundos em linha reta sem parar.*/
  animation: snow var(--tempoQuedaAreia) linear infinite;
  /*Abaixo é feita a mesma configuração de animação para diferentes prefixos de navegadores.*/
  -webkit-animation: snow var(--tempoQuedaAreia) linear infinite;
  -moz-animation: snow var(--tempoQuedaAreia) linear infinite;
  -ms-animation: snow var(--tempoQuedaAreia) linear infinite;
}
/*Aqui são definidas as posições da imagem.*/
@keyframes snow {
  /*Primeiro a posição zero da imagem.*/
  0% {
    background-position: center 0%, center 0%, center 0%;
  }
  /*Depois a posição final.*/
  100% {
    background-position: center 1120px, center 1120px, center 1120px;
  }
}
/*Abaixo é feita a mesma configuração de keyfranes para diferentes prefixos de navegadores.*/
@-moz-keyframes snow {
  0% {
    background-position: center 0%, center 0%, center 0%;
  }
  100% {
    background-position: center 1120px, center 1120px, center 1120px;
  }
}
@-webkit-keyframes snow {
  0% {
    background-position: center 0%, center 0%, center 0%;
  }
  100% {
    background-position: center 1120px, center 1120px, center 1120px;
  }
}
@-ms-keyframes snow {
  0% {
    background-position: center 0%, center 0%, center 0%;
  }
  100% {
    background-position: center 1120px, center 1120px, center 1120px;
  }
}

.container {
  /*Abaixo é definido o tamanho da tela.*/

  max-width: var(--larguraQuedaAreia);
  max-height: var(--alturaDaQueda);
  width: var(--larguraQuedaAreia);
  height: var(--alturaDaQueda);
  margin: 0 auto;
}
